
{
  "id": "{{service.name}}",
  "cpus": 1.0,
  "mem": 1024,
  "instances": 1,
  "user": "{{service.user}}",
  "cmd": "export LD_LIBRARY_PATH=$MESOS_SANDBOX/libmesos-bundle/lib:$LD_LIBRARY_PATH; export MESOS_NATIVE_JAVA_LIBRARY=$(ls $MESOS_SANDBOX/libmesos-bundle/lib/libmesos-*.so); export JAVA_HOME=$(ls -d $MESOS_SANDBOX/jdk*/jre/); export JAVA_HOME=${JAVA_HOME%%/}; export PATH=$(ls -d $JAVA_HOME/bin):$PATH && export JAVA_OPTS=\"-Xms256M -Xmx512M -XX:-HeapDumpOnOutOfMemoryError\" && ./bootstrap -resolve=false -template=false && ./operator-scheduler/bin/operator svc.yml",
  "labels": {
    "DCOS_COMMONS_API_VERSION": "v1",
    "DCOS_COMMONS_UNINSTALL": "true",
    "DCOS_PACKAGE_FRAMEWORK_NAME": "{{service.name}}",
    "MARATHON_SINGLE_INSTANCE_APP": "true",
    "DCOS_SERVICE_NAME": "{{service.name}}",
    "DCOS_SERVICE_PORT_INDEX": "0",
    "DCOS_SERVICE_SCHEME": "http"
  },
  {{#service.service_account_secret}}
  "secrets": {
    "serviceCredential": {
      "source": "{{service.service_account_secret}}"
    }
  },
  {{/service.service_account_secret}}
  "env": {
    "PACKAGE_NAME": "{{package-name}}",
    "PACKAGE_VERSION": "{{package-version}}",
    "PACKAGE_BUILD_TIME_EPOCH_MS": "%(time_epoche_ms)s",
    "PACKAGE_BUILD_TIME_STR": "%(time_str)s",
    "FRAMEWORK_NAME": "{{service.name}}",
    "SLEEP_DURATION": "{{service.sleep}}",
    "FRAMEWORK_USER": "{{service.user}}",
    "FRAMEWORK_PRINCIPAL": "{{service.service_account}}",
    "FRAMEWORK_LOG_LEVEL": "{{service.log_level}}",
    "MESOS_API_VERSION": "V1",

    "NODE_COUNT": "{{node.count}}",
    "NODE_PLACEMENT": "{{{node.placement_constraint}}}",
    {{#service.virtual_network_enabled}}
    "ENABLE_VIRTUAL_NETWORK": "yes",
    "VIRTUAL_NETWORK_NAME": "{{service.virtual_network_name}}",
    "VIRTUAL_NETWORK_PLUGIN_LABELS": "{{service.virtual_network_plugin_labels}}",
    {{/service.virtual_network_enabled}}
    "NODE_CPUS": "{{node.cpus}}",
    "NODE_MEM": "{{node.mem}}",
    "NODE_DISK": "{{node.disk}}",
    "NODE_DISK_TYPE": "{{node.disk_type}}",

    "JAVA_URI": "{{resource.assets.uris.jre-tar-gz}}",
    "EXECUTOR_URI": "{{resource.assets.uris.executor-zip}}",
    "BOOTSTRAP_URI": "{{resource.assets.uris.bootstrap-zip}}",
    {{#service.service_account_secret}}
    "DCOS_SERVICE_ACCOUNT_CREDENTIAL": { "secret": "serviceCredential" },
    "MESOS_MODULES": "{\"libraries\":[{\"file\":\"libmesos-bundle\/lib\/mesos\/libdcos_security.so\",\"modules\":[{\"name\": \"com_mesosphere_dcos_ClassicRPCAuthenticatee\"},{\"name\":\"com_mesosphere_dcos_http_Authenticatee\",\"parameters\":[{\"key\":\"jwt_exp_timeout\",\"value\":\"5mins\"},{\"key\":\"preemptive_refresh_duration\",\"value\":\"30mins\"}]}]}]}",
    "MESOS_AUTHENTICATEE": "com_mesosphere_dcos_ClassicRPCAuthenticatee",
    "MESOS_HTTP_AUTHENTICATEE": "com_mesosphere_dcos_http_Authenticatee",
    {{/service.service_account_secret}}
    "PAUSE_OVERRIDE_CMD": "echo This task is PAUSED, sleeping ... && /mnt/mesos/sandbox/bootstrap --resolve=false && while true; do sleep 3600; done",
    "RIAK_DOCKER_IMAGE": "{{resource.assets.container.docker.riak}}",
    {{#riak.RIAK_AF1_WORKER_POOL_SIZE}} "TASKCFG_ALL_RIAK_AF1_WORKER_POOL_SIZE": "{{riak.RIAK_AF1_WORKER_POOL_SIZE}}", {{/riak.RIAK_AF1_WORKER_POOL_SIZE}}
    {{#riak.RIAK_AF2_WORKER_POOL_SIZE}} "TASKCFG_ALL_RIAK_AF2_WORKER_POOL_SIZE": "{{riak.RIAK_AF2_WORKER_POOL_SIZE}}", {{/riak.RIAK_AF2_WORKER_POOL_SIZE}}
    {{#riak.RIAK_AF3_WORKER_POOL_SIZE}} "TASKCFG_ALL_RIAK_AF3_WORKER_POOL_SIZE": "{{riak.RIAK_AF3_WORKER_POOL_SIZE}}", {{/riak.RIAK_AF3_WORKER_POOL_SIZE}}
    {{#riak.RIAK_AF4_WORKER_POOL_SIZE}} "TASKCFG_ALL_RIAK_AF4_WORKER_POOL_SIZE": "{{riak.RIAK_AF4_WORKER_POOL_SIZE}}", {{/riak.RIAK_AF4_WORKER_POOL_SIZE}}
    {{#riak.RIAK_ANTI_ENTROPY}} "TASKCFG_ALL_RIAK_ANTI_ENTROPY": "{{riak.RIAK_ANTI_ENTROPY}}", {{/riak.RIAK_ANTI_ENTROPY}}
    {{#riak.RIAK_BACKEND_PAUSE_MS}} "TASKCFG_ALL_RIAK_BACKEND_PAUSE_MS": "{{riak.RIAK_BACKEND_PAUSE_MS}}", {{/riak.RIAK_BACKEND_PAUSE_MS}}
    {{#riak.RIAK_BE_WORKER_POOL_SIZE}} "TASKCFG_ALL_RIAK_BE_WORKER_POOL_SIZE": "{{riak.RIAK_BE_WORKER_POOL_SIZE}}", {{/riak.RIAK_BE_WORKER_POOL_SIZE}}
    {{#riak.RIAK_BITCASK_DATA_ROOT}} "TASKCFG_ALL_RIAK_BITCASK_DATA_ROOT": "{{riak.RIAK_BITCASK_DATA_ROOT}}", {{/riak.RIAK_BITCASK_DATA_ROOT}}
    {{#riak.RIAK_BITCASK_IO_MODE}} "TASKCFG_ALL_RIAK_BITCASK_IO_MODE": "{{riak.RIAK_BITCASK_IO_MODE}}", {{/riak.RIAK_BITCASK_IO_MODE}}
    {{#riak.RIAK_CLUSTER_JOB_RIAK_KV_LIST_BUCKETS}} "TASKCFG_ALL_RIAK_CLUSTER_JOB_RIAK_KV_LIST_BUCKETS": "{{riak.RIAK_CLUSTER_JOB_RIAK_KV_LIST_BUCKETS}}", {{/riak.RIAK_CLUSTER_JOB_RIAK_KV_LIST_BUCKETS}}
    {{#riak.RIAK_CLUSTER_JOB_RIAK_KV_LIST_KEYS}} "TASKCFG_ALL_RIAK_CLUSTER_JOB_RIAK_KV_LIST_KEYS": "{{riak.RIAK_CLUSTER_JOB_RIAK_KV_LIST_KEYS}}", {{/riak.RIAK_CLUSTER_JOB_RIAK_KV_LIST_KEYS}}
    {{#riak.RIAK_CLUSTER_JOB_RIAK_KV_MAP_REDUCE}} "TASKCFG_ALL_RIAK_CLUSTER_JOB_RIAK_KV_MAP_REDUCE": "{{riak.RIAK_CLUSTER_JOB_RIAK_KV_MAP_REDUCE}}", {{/riak.RIAK_CLUSTER_JOB_RIAK_KV_MAP_REDUCE}}
    {{#riak.RIAK_CLUSTER_JOB_RIAK_KV_MAP_REDUCE_JS}} "TASKCFG_ALL_RIAK_CLUSTER_JOB_RIAK_KV_MAP_REDUCE_JS": "{{riak.RIAK_CLUSTER_JOB_RIAK_KV_MAP_REDUCE_JS}}", {{/riak.RIAK_CLUSTER_JOB_RIAK_KV_MAP_REDUCE_JS}}
    {{#riak.RIAK_CLUSTER_JOB_RIAK_KV_SECONDARY_INDEX}} "TASKCFG_ALL_RIAK_CLUSTER_JOB_RIAK_KV_SECONDARY_INDEX": "{{riak.RIAK_CLUSTER_JOB_RIAK_KV_SECONDARY_INDEX}}", {{/riak.RIAK_CLUSTER_JOB_RIAK_KV_SECONDARY_INDEX}}
    {{#riak.RIAK_CLUSTER_JOB_RIAK_KV_STREAM_LIST_BUCKETS}} "TASKCFG_ALL_RIAK_CLUSTER_JOB_RIAK_KV_STREAM_LIST_BUCKETS": "{{riak.RIAK_CLUSTER_JOB_RIAK_KV_STREAM_LIST_BUCKETS}}", {{/riak.RIAK_CLUSTER_JOB_RIAK_KV_STREAM_LIST_BUCKETS}}
    {{#riak.RIAK_CLUSTER_JOB_RIAK_KV_STREAM_LIST_KEYS}} "TASKCFG_ALL_RIAK_CLUSTER_JOB_RIAK_KV_STREAM_LIST_KEYS": "{{riak.RIAK_CLUSTER_JOB_RIAK_KV_STREAM_LIST_KEYS}}", {{/riak.RIAK_CLUSTER_JOB_RIAK_KV_STREAM_LIST_KEYS}}
    {{#riak.RIAK_CLUSTER_JOB_RIAK_KV_STREAM_SECONDARY_INDEX}} "TASKCFG_ALL_RIAK_CLUSTER_JOB_RIAK_KV_STREAM_SECONDARY_INDEX": "{{riak.RIAK_CLUSTER_JOB_RIAK_KV_STREAM_SECONDARY_INDEX}}", {{/riak.RIAK_CLUSTER_JOB_RIAK_KV_STREAM_SECONDARY_INDEX}}
    {{#riak.RIAK_CLUSTER_JOB_YOKOZUNA_QUERY}} "TASKCFG_ALL_RIAK_CLUSTER_JOB_YOKOZUNA_QUERY": "{{riak.RIAK_CLUSTER_JOB_YOKOZUNA_QUERY}}", {{/riak.RIAK_CLUSTER_JOB_YOKOZUNA_QUERY}}
    {{#riak.RIAK_CS_VERSION}} "TASKCFG_ALL_RIAK_CS_VERSION": "{{riak.RIAK_CS_VERSION}}", {{/riak.RIAK_CS_VERSION}}
    {{#riak.RIAK_DISTRIBUTED_COOKIE}} "TASKCFG_ALL_RIAK_DISTRIBUTED_COOKIE": "{{riak.RIAK_DISTRIBUTED_COOKIE}}", {{/riak.RIAK_DISTRIBUTED_COOKIE}}
    {{#riak.RIAK_DTRACE}} "TASKCFG_ALL_RIAK_DTRACE": "{{riak.RIAK_DTRACE}}", {{/riak.RIAK_DTRACE}}
    {{#riak.RIAK_ERLANG_ASYNC_THREADS}} "TASKCFG_ALL_RIAK_ERLANG_ASYNC_THREADS": "{{riak.RIAK_ERLANG_ASYNC_THREADS}}", {{/riak.RIAK_ERLANG_ASYNC_THREADS}}
    {{#riak.RIAK_ERLANG_ASYNC_THREADS_STACK_SIZE}} "TASKCFG_ALL_RIAK_ERLANG_ASYNC_THREADS_STACK_SIZE": "{{riak.RIAK_ERLANG_ASYNC_THREADS_STACK_SIZE}}", {{/riak.RIAK_ERLANG_ASYNC_THREADS_STACK_SIZE}}
    {{#riak.RIAK_ERLANG_CRASH_DUMP}} "TASKCFG_ALL_RIAK_ERLANG_CRASH_DUMP": "{{riak.RIAK_ERLANG_CRASH_DUMP}}", {{/riak.RIAK_ERLANG_CRASH_DUMP}}
    {{#riak.RIAK_ERLANG_DISTRIBUTION_BUFFER_SIZE}} "TASKCFG_ALL_RIAK_ERLANG_DISTRIBUTION_BUFFER_SIZE": "{{riak.RIAK_ERLANG_DISTRIBUTION_BUFFER_SIZE}}", {{/riak.RIAK_ERLANG_DISTRIBUTION_BUFFER_SIZE}}
    {{#riak.RIAK_ERLANG_DISTRIBUTION_NET_TICKTIME}} "TASKCFG_ALL_RIAK_ERLANG_DISTRIBUTION_NET_TICKTIME": "{{riak.RIAK_ERLANG_DISTRIBUTION_NET_TICKTIME}}", {{/riak.RIAK_ERLANG_DISTRIBUTION_NET_TICKTIME}}
    {{#riak.RIAK_ERLANG_DISTRIBUTION_PORT_RANGE_MAXIMUM}} "TASKCFG_ALL_RIAK_ERLANG_DISTRIBUTION_PORT_RANGE_MAXIMUM": "{{riak.RIAK_ERLANG_DISTRIBUTION_PORT_RANGE_MAXIMUM}}", {{/riak.RIAK_ERLANG_DISTRIBUTION_PORT_RANGE_MAXIMUM}}
    {{#riak.RIAK_ERLANG_DISTRIBUTION_PORT_RANGE_MINIMUM}} "TASKCFG_ALL_RIAK_ERLANG_DISTRIBUTION_PORT_RANGE_MINIMUM": "{{riak.RIAK_ERLANG_DISTRIBUTION_PORT_RANGE_MINIMUM}}", {{/riak.RIAK_ERLANG_DISTRIBUTION_PORT_RANGE_MINIMUM}}
    {{#riak.RIAK_ERLANG_FULLSWEEP_AFTER}} "TASKCFG_ALL_RIAK_ERLANG_FULLSWEEP_AFTER": "{{riak.RIAK_ERLANG_FULLSWEEP_AFTER}}", {{/riak.RIAK_ERLANG_FULLSWEEP_AFTER}}
    {{#riak.RIAK_ERLANG_K}} "TASKCFG_ALL_RIAK_ERLANG_K": "{{riak.RIAK_ERLANG_K}}", {{/riak.RIAK_ERLANG_K}}
    {{#riak.RIAK_ERLANG_MAX_ETS_TABLES}} "TASKCFG_ALL_RIAK_ERLANG_MAX_ETS_TABLES": "{{riak.RIAK_ERLANG_MAX_ETS_TABLES}}", {{/riak.RIAK_ERLANG_MAX_ETS_TABLES}}
    {{#riak.RIAK_ERLANG_MAX_PORTS}} "TASKCFG_ALL_RIAK_ERLANG_MAX_PORTS": "{{riak.RIAK_ERLANG_MAX_PORTS}}", {{/riak.RIAK_ERLANG_MAX_PORTS}}
    {{#riak.RIAK_ERLANG_PROCESS_LIMIT}} "TASKCFG_ALL_RIAK_ERLANG_PROCESS_LIMIT": "{{riak.RIAK_ERLANG_PROCESS_LIMIT}}", {{/riak.RIAK_ERLANG_PROCESS_LIMIT}}
    {{#riak.RIAK_ERLANG_SCHEDULERS_COMPACTION_OF_LOAD}} "TASKCFG_ALL_RIAK_ERLANG_SCHEDULERS_COMPACTION_OF_LOAD": "{{riak.RIAK_ERLANG_SCHEDULERS_COMPACTION_OF_LOAD}}", {{/riak.RIAK_ERLANG_SCHEDULERS_COMPACTION_OF_LOAD}}
    {{#riak.RIAK_ERLANG_SCHEDULERS_FORCE_WAKEUP_INTERVAL}} "TASKCFG_ALL_RIAK_ERLANG_SCHEDULERS_FORCE_WAKEUP_INTERVAL": "{{riak.RIAK_ERLANG_SCHEDULERS_FORCE_WAKEUP_INTERVAL}}", {{/riak.RIAK_ERLANG_SCHEDULERS_FORCE_WAKEUP_INTERVAL}}
    {{#riak.RIAK_ERLANG_SCHEDULERS_ONLINE}} "TASKCFG_ALL_RIAK_ERLANG_SCHEDULERS_ONLINE": "{{riak.RIAK_ERLANG_SCHEDULERS_ONLINE}}", {{/riak.RIAK_ERLANG_SCHEDULERS_ONLINE}}
    {{#riak.RIAK_ERLANG_SCHEDULERS_TOTAL}} "TASKCFG_ALL_RIAK_ERLANG_SCHEDULERS_TOTAL": "{{riak.RIAK_ERLANG_SCHEDULERS_TOTAL}}", {{/riak.RIAK_ERLANG_SCHEDULERS_TOTAL}}
    {{#riak.RIAK_ERLANG_SCHEDULERS_UTILIZATION_BALANCING}} "TASKCFG_ALL_RIAK_ERLANG_SCHEDULERS_UTILIZATION_BALANCING": "{{riak.RIAK_ERLANG_SCHEDULERS_UTILIZATION_BALANCING}}", {{/riak.RIAK_ERLANG_SCHEDULERS_UTILIZATION_BALANCING}}
    {{#riak.RIAK_ERLANG_SMP}} "TASKCFG_ALL_RIAK_ERLANG_SMP": "{{riak.RIAK_ERLANG_SMP}}", {{/riak.RIAK_ERLANG_SMP}}
    {{#riak.RIAK_ERLANG_W}} "TASKCFG_ALL_RIAK_ERLANG_W": "{{riak.RIAK_ERLANG_W}}", {{/riak.RIAK_ERLANG_W}}
    {{#riak.RIAK_LEVELDB_COMPRESSION}} "TASKCFG_ALL_RIAK_LEVELDB_COMPRESSION": "{{riak.RIAK_LEVELDB_COMPRESSION}}", {{/riak.RIAK_LEVELDB_COMPRESSION}}
    {{#riak.RIAK_LEVELDB_COMPRESSION_ALGORITHM}} "TASKCFG_ALL_RIAK_LEVELDB_COMPRESSION_ALGORITHM": "{{riak.RIAK_LEVELDB_COMPRESSION_ALGORITHM}}", {{/riak.RIAK_LEVELDB_COMPRESSION_ALGORITHM}}
    {{#riak.RIAK_LEVELDB_MAXIMUM_MEMORY_PERCENT}} "TASKCFG_ALL_RIAK_LEVELDB_MAXIMUM_MEMORY_PERCENT": "{{riak.RIAK_LEVELDB_MAXIMUM_MEMORY_PERCENT}}", {{/riak.RIAK_LEVELDB_MAXIMUM_MEMORY_PERCENT}}
    {{#riak.RIAK_LEVELED_COMPACTION_LOW_HOUR}} "TASKCFG_ALL_RIAK_LEVELED_COMPACTION_LOW_HOUR": "{{riak.RIAK_LEVELED_COMPACTION_LOW_HOUR}}", {{/riak.RIAK_LEVELED_COMPACTION_LOW_HOUR}}
    {{#riak.RIAK_LEVELED_COMPACTION_RUNS_PERDAY}} "TASKCFG_ALL_RIAK_LEVELED_COMPACTION_RUNS_PERDAY": "{{riak.RIAK_LEVELED_COMPACTION_RUNS_PERDAY}}", {{/riak.RIAK_LEVELED_COMPACTION_RUNS_PERDAY}}
    {{#riak.RIAK_LEVELED_COMPACTION_TOP_HOUR}} "TASKCFG_ALL_RIAK_LEVELED_COMPACTION_TOP_HOUR": "{{riak.RIAK_LEVELED_COMPACTION_TOP_HOUR}}", {{/riak.RIAK_LEVELED_COMPACTION_TOP_HOUR}}
    {{#riak.RIAK_LEVELED_COMPRESSION_METHOD}} "TASKCFG_ALL_RIAK_LEVELED_COMPRESSION_METHOD": "{{riak.RIAK_LEVELED_COMPRESSION_METHOD}}", {{/riak.RIAK_LEVELED_COMPRESSION_METHOD}}
    {{#riak.RIAK_LEVELED_COMPRESSION_POINT}} "TASKCFG_ALL_RIAK_LEVELED_COMPRESSION_POINT": "{{riak.RIAK_LEVELED_COMPRESSION_POINT}}", {{/riak.RIAK_LEVELED_COMPRESSION_POINT}}
    {{#riak.RIAK_LEVELED_DATA_ROOT}} "TASKCFG_ALL_RIAK_LEVELED_DATA_ROOT": "{{riak.RIAK_LEVELED_DATA_ROOT}}", {{/riak.RIAK_LEVELED_DATA_ROOT}}
    {{#riak.RIAK_LEVELED_JOURNAL_OBJECTCOUNT}} "TASKCFG_ALL_RIAK_LEVELED_JOURNAL_OBJECTCOUNT": "{{riak.RIAK_LEVELED_JOURNAL_OBJECTCOUNT}}", {{/riak.RIAK_LEVELED_JOURNAL_OBJECTCOUNT}}
    {{#riak.RIAK_LEVELED_JOURNAL_SIZE}} "TASKCFG_ALL_RIAK_LEVELED_JOURNAL_SIZE": "{{riak.RIAK_LEVELED_JOURNAL_SIZE}}", {{/riak.RIAK_LEVELED_JOURNAL_SIZE}}
    {{#riak.RIAK_LEVELED_LEDGER_PAGECACHELEVEL}} "TASKCFG_ALL_RIAK_LEVELED_LEDGER_PAGECACHELEVEL": "{{riak.RIAK_LEVELED_LEDGER_PAGECACHELEVEL}}", {{/riak.RIAK_LEVELED_LEDGER_PAGECACHELEVEL}}
    {{#riak.RIAK_LEVELED_LOG_LEVEL}} "TASKCFG_ALL_RIAK_LEVELED_LOG_LEVEL": "{{riak.RIAK_LEVELED_LOG_LEVEL}}", {{/riak.RIAK_LEVELED_LOG_LEVEL}}
    {{#riak.RIAK_LEVELED_MAX_RUN_LENGTH}} "TASKCFG_ALL_RIAK_LEVELED_MAX_RUN_LENGTH": "{{riak.RIAK_LEVELED_MAX_RUN_LENGTH}}", {{/riak.RIAK_LEVELED_MAX_RUN_LENGTH}}
    {{#riak.RIAK_LEVELED_SYNC_STRATEGY}} "TASKCFG_ALL_RIAK_LEVELED_SYNC_STRATEGY": "{{riak.RIAK_LEVELED_SYNC_STRATEGY}}", {{/riak.RIAK_LEVELED_SYNC_STRATEGY}}
    {{#riak.RIAK_LISTENER_HTTPS_INTERNAL_PORT}} "TASKCFG_ALL_RIAK_LISTENER_HTTPS_INTERNAL_PORT": "{{riak.RIAK_LISTENER_HTTPS_INTERNAL_PORT}}", {{/riak.RIAK_LISTENER_HTTPS_INTERNAL_PORT}}
    {{#riak.RIAK_LISTENER_HTTP_INTERNAL_PORT}} "TASKCFG_ALL_RIAK_LISTENER_HTTP_INTERNAL_PORT": "{{riak.RIAK_LISTENER_HTTP_INTERNAL_PORT}}", {{/riak.RIAK_LISTENER_HTTP_INTERNAL_PORT}}
    {{#riak.RIAK_LISTENER_PROTOBUF_INTERNAL_PORT}} "TASKCFG_ALL_RIAK_LISTENER_PROTOBUF_INTERNAL_PORT": "{{riak.RIAK_LISTENER_PROTOBUF_INTERNAL_PORT}}", {{/riak.RIAK_LISTENER_PROTOBUF_INTERNAL_PORT}}
    {{#riak.RIAK_LOG_CONSOLE}} "TASKCFG_ALL_RIAK_LOG_CONSOLE": "{{riak.RIAK_LOG_CONSOLE}}", {{/riak.RIAK_LOG_CONSOLE}}
    {{#riak.RIAK_LOG_CONSOLE_FILE}} "TASKCFG_ALL_RIAK_LOG_CONSOLE_FILE": "{{riak.RIAK_LOG_CONSOLE_FILE}}", {{/riak.RIAK_LOG_CONSOLE_FILE}}
    {{#riak.RIAK_LOG_CONSOLE_LEVEL}} "TASKCFG_ALL_RIAK_LOG_CONSOLE_LEVEL": "{{riak.RIAK_LOG_CONSOLE_LEVEL}}", {{/riak.RIAK_LOG_CONSOLE_LEVEL}}
    {{#riak.RIAK_LOG_CRASH}} "TASKCFG_ALL_RIAK_LOG_CRASH": "{{riak.RIAK_LOG_CRASH}}", {{/riak.RIAK_LOG_CRASH}}
    {{#riak.RIAK_LOG_CRASH_FILE}} "TASKCFG_ALL_RIAK_LOG_CRASH_FILE": "{{riak.RIAK_LOG_CRASH_FILE}}", {{/riak.RIAK_LOG_CRASH_FILE}}
    {{#riak.RIAK_LOG_CRASH_MAXIMUM_MESSAGE_SIZE}} "TASKCFG_ALL_RIAK_LOG_CRASH_MAXIMUM_MESSAGE_SIZE": "{{riak.RIAK_LOG_CRASH_MAXIMUM_MESSAGE_SIZE}}", {{/riak.RIAK_LOG_CRASH_MAXIMUM_MESSAGE_SIZE}}
    {{#riak.RIAK_LOG_CRASH_ROTATION}} "TASKCFG_ALL_RIAK_LOG_CRASH_ROTATION": "{{riak.RIAK_LOG_CRASH_ROTATION}}", {{/riak.RIAK_LOG_CRASH_ROTATION}}
    {{#riak.RIAK_LOG_CRASH_ROTATION_KEEP}} "TASKCFG_ALL_RIAK_LOG_CRASH_ROTATION_KEEP": "{{riak.RIAK_LOG_CRASH_ROTATION_KEEP}}", {{/riak.RIAK_LOG_CRASH_ROTATION_KEEP}}
    {{#riak.RIAK_LOG_CRASH_SIZE}} "TASKCFG_ALL_RIAK_LOG_CRASH_SIZE": "{{riak.RIAK_LOG_CRASH_SIZE}}", {{/riak.RIAK_LOG_CRASH_SIZE}}
    {{#riak.RIAK_LOG_ERROR_FILE}} "TASKCFG_ALL_RIAK_LOG_ERROR_FILE": "{{riak.RIAK_LOG_ERROR_FILE}}", {{/riak.RIAK_LOG_ERROR_FILE}}
    {{#riak.RIAK_LOG_SYSLOG}} "TASKCFG_ALL_RIAK_LOG_SYSLOG": "{{riak.RIAK_LOG_SYSLOG}}", {{/riak.RIAK_LOG_SYSLOG}}
    {{#riak.RIAK_MULTI_BACKEND_NAME_LEVELDB_COMPRESSION}} "TASKCFG_ALL_RIAK_MULTI_BACKEND_NAME_LEVELDB_COMPRESSION": "{{riak.RIAK_MULTI_BACKEND_NAME_LEVELDB_COMPRESSION}}", {{/riak.RIAK_MULTI_BACKEND_NAME_LEVELDB_COMPRESSION}}
    {{#riak.RIAK_MULTI_BACKEND_NAME_LEVELDB_COMPRESSION_ALGORITHM}} "TASKCFG_ALL_RIAK_MULTI_BACKEND_NAME_LEVELDB_COMPRESSION_ALGORITHM": "{{riak.RIAK_MULTI_BACKEND_NAME_LEVELDB_COMPRESSION_ALGORITHM}}", {{/riak.RIAK_MULTI_BACKEND_NAME_LEVELDB_COMPRESSION_ALGORITHM}}
    {{#riak.RIAK_MULTI_BACKEND_NAME_LEVELED_JOURNAL_OBJECTCOUNT}} "TASKCFG_ALL_RIAK_MULTI_BACKEND_NAME_LEVELED_JOURNAL_OBJECTCOUNT": "{{riak.RIAK_MULTI_BACKEND_NAME_LEVELED_JOURNAL_OBJECTCOUNT}}", {{/riak.RIAK_MULTI_BACKEND_NAME_LEVELED_JOURNAL_OBJECTCOUNT}}
    {{#riak.RIAK_MULTI_BACKEND_NAME_LEVELED_JOURNAL_SIZE}} "TASKCFG_ALL_RIAK_MULTI_BACKEND_NAME_LEVELED_JOURNAL_SIZE": "{{riak.RIAK_MULTI_BACKEND_NAME_LEVELED_JOURNAL_SIZE}}", {{/riak.RIAK_MULTI_BACKEND_NAME_LEVELED_JOURNAL_SIZE}}
    {{#riak.RIAK_MULTI_BACKEND_NAME_LEVELED_LEDGER_PAGECACHELEVEL}} "TASKCFG_ALL_RIAK_MULTI_BACKEND_NAME_LEVELED_LEDGER_PAGECACHELEVEL": "{{riak.RIAK_MULTI_BACKEND_NAME_LEVELED_LEDGER_PAGECACHELEVEL}}", {{/riak.RIAK_MULTI_BACKEND_NAME_LEVELED_LEDGER_PAGECACHELEVEL}}
    {{#riak.RIAK_NODENAME}} "TASKCFG_ALL_RIAK_NODENAME": "{{riak.RIAK_NODENAME}}", {{/riak.RIAK_NODENAME}}
    {{#riak.RIAK_NODE_WORKER_POOL_SIZE}} "TASKCFG_ALL_RIAK_NODE_WORKER_POOL_SIZE": "{{riak.RIAK_NODE_WORKER_POOL_SIZE}}", {{/riak.RIAK_NODE_WORKER_POOL_SIZE}}
    {{#riak.RIAK_OBJECT_FORMAT}} "TASKCFG_ALL_RIAK_OBJECT_FORMAT": "{{riak.RIAK_OBJECT_FORMAT}}", {{/riak.RIAK_OBJECT_FORMAT}}
    {{#riak.RIAK_OBJECT_SIBLINGS_MAXIMUM}} "TASKCFG_ALL_RIAK_OBJECT_SIBLINGS_MAXIMUM": "{{riak.RIAK_OBJECT_SIBLINGS_MAXIMUM}}", {{/riak.RIAK_OBJECT_SIBLINGS_MAXIMUM}}
    {{#riak.RIAK_OBJECT_SIBLINGS_WARNING_THRESHOLD}} "TASKCFG_ALL_RIAK_OBJECT_SIBLINGS_WARNING_THRESHOLD": "{{riak.RIAK_OBJECT_SIBLINGS_WARNING_THRESHOLD}}", {{/riak.RIAK_OBJECT_SIBLINGS_WARNING_THRESHOLD}}
    {{#riak.RIAK_OBJECT_SIZE_MAXIMUM}} "TASKCFG_ALL_RIAK_OBJECT_SIZE_MAXIMUM": "{{riak.RIAK_OBJECT_SIZE_MAXIMUM}}", {{/riak.RIAK_OBJECT_SIZE_MAXIMUM}}
    {{#riak.RIAK_OBJECT_SIZE_WARNING_THRESHOLD}} "TASKCFG_ALL_RIAK_OBJECT_SIZE_WARNING_THRESHOLD": "{{riak.RIAK_OBJECT_SIZE_WARNING_THRESHOLD}}", {{/riak.RIAK_OBJECT_SIZE_WARNING_THRESHOLD}}
    {{#riak.RIAK_PARTICIPATE_IN_COVERAGE}} "TASKCFG_ALL_RIAK_PARTICIPATE_IN_COVERAGE": "{{riak.RIAK_PARTICIPATE_IN_COVERAGE}}", {{/riak.RIAK_PARTICIPATE_IN_COVERAGE}}
    {{#riak.RIAK_PLATFORM_BIN_DIR}} "TASKCFG_ALL_RIAK_PLATFORM_BIN_DIR": "{{riak.RIAK_PLATFORM_BIN_DIR}}", {{/riak.RIAK_PLATFORM_BIN_DIR}}
    {{#riak.RIAK_PLATFORM_DATA_DIR}} "TASKCFG_ALL_RIAK_PLATFORM_DATA_DIR": "{{riak.RIAK_PLATFORM_DATA_DIR}}", {{/riak.RIAK_PLATFORM_DATA_DIR}}
    {{#riak.RIAK_PLATFORM_ETC_DIR}} "TASKCFG_ALL_RIAK_PLATFORM_ETC_DIR": "{{riak.RIAK_PLATFORM_ETC_DIR}}", {{/riak.RIAK_PLATFORM_ETC_DIR}}
    {{#riak.RIAK_PLATFORM_LIB_DIR}} "TASKCFG_ALL_RIAK_PLATFORM_LIB_DIR": "{{riak.RIAK_PLATFORM_LIB_DIR}}", {{/riak.RIAK_PLATFORM_LIB_DIR}}
    {{#riak.RIAK_PLATFORM_LOG_DIR}} "TASKCFG_ALL_RIAK_PLATFORM_LOG_DIR": "{{riak.RIAK_PLATFORM_LOG_DIR}}", {{/riak.RIAK_PLATFORM_LOG_DIR}}
    {{#riak.RIAK_PROTOBUF_BACKLOG}} "TASKCFG_ALL_RIAK_PROTOBUF_BACKLOG": "{{riak.RIAK_PROTOBUF_BACKLOG}}", {{/riak.RIAK_PROTOBUF_BACKLOG}}
    {{#riak.RIAK_RIAK_CONTROL}} "TASKCFG_ALL_RIAK_RIAK_CONTROL": "{{riak.RIAK_RIAK_CONTROL}}", {{/riak.RIAK_RIAK_CONTROL}}
    {{#riak.RIAK_RIAK_CONTROL_AUTH_MODE}} "TASKCFG_ALL_RIAK_RIAK_CONTROL_AUTH_MODE": "{{riak.RIAK_RIAK_CONTROL_AUTH_MODE}}", {{/riak.RIAK_RIAK_CONTROL_AUTH_MODE}}
    {{#riak.RIAK_RIAK_CONTROL_AUTH_USER_ADMIN_PASSWORD}} "TASKCFG_ALL_RIAK_RIAK_CONTROL_AUTH_USER_ADMIN_PASSWORD": "{{riak.RIAK_RIAK_CONTROL_AUTH_USER_ADMIN_PASSWORD}}", {{/riak.RIAK_RIAK_CONTROL_AUTH_USER_ADMIN_PASSWORD}}
    {{#riak.RIAK_RING_SIZE}} "TASKCFG_ALL_RIAK_RING_SIZE": "{{riak.RIAK_RING_SIZE}}", {{/riak.RIAK_RING_SIZE}}
    {{#riak.RIAK_SEARCH}} "TASKCFG_ALL_RIAK_SEARCH": "{{riak.RIAK_SEARCH}}", {{/riak.RIAK_SEARCH}}
    {{#riak.RIAK_SEARCH_QUEUE_BATCH_FLUSH_INTERVAL}} "TASKCFG_ALL_RIAK_SEARCH_QUEUE_BATCH_FLUSH_INTERVAL": "{{riak.RIAK_SEARCH_QUEUE_BATCH_FLUSH_INTERVAL}}", {{/riak.RIAK_SEARCH_QUEUE_BATCH_FLUSH_INTERVAL}}
    {{#riak.RIAK_SEARCH_QUEUE_BATCH_MAXIMUM}} "TASKCFG_ALL_RIAK_SEARCH_QUEUE_BATCH_MAXIMUM": "{{riak.RIAK_SEARCH_QUEUE_BATCH_MAXIMUM}}", {{/riak.RIAK_SEARCH_QUEUE_BATCH_MAXIMUM}}
    {{#riak.RIAK_SEARCH_QUEUE_BATCH_MINIMUM}} "TASKCFG_ALL_RIAK_SEARCH_QUEUE_BATCH_MINIMUM": "{{riak.RIAK_SEARCH_QUEUE_BATCH_MINIMUM}}", {{/riak.RIAK_SEARCH_QUEUE_BATCH_MINIMUM}}
    {{#riak.RIAK_SEARCH_QUEUE_HIGH_WATERMARK}} "TASKCFG_ALL_RIAK_SEARCH_QUEUE_HIGH_WATERMARK": "{{riak.RIAK_SEARCH_QUEUE_HIGH_WATERMARK}}", {{/riak.RIAK_SEARCH_QUEUE_HIGH_WATERMARK}}
    {{#riak.RIAK_SEARCH_QUEUE_HIGH_WATERMARK_PURGE_STRATEGY}} "TASKCFG_ALL_RIAK_SEARCH_QUEUE_HIGH_WATERMARK_PURGE_STRATEGY": "{{riak.RIAK_SEARCH_QUEUE_HIGH_WATERMARK_PURGE_STRATEGY}}", {{/riak.RIAK_SEARCH_QUEUE_HIGH_WATERMARK_PURGE_STRATEGY}}
    {{#riak.RIAK_SEARCH_SOLR_JMX_PORT}} "TASKCFG_ALL_RIAK_SEARCH_SOLR_JMX_PORT": "{{riak.RIAK_SEARCH_SOLR_JMX_PORT}}", {{/riak.RIAK_SEARCH_SOLR_JMX_PORT}}
    {{#riak.RIAK_SEARCH_SOLR_JVM_OPTIONS}} "TASKCFG_ALL_RIAK_SEARCH_SOLR_JVM_OPTIONS": "{{riak.RIAK_SEARCH_SOLR_JVM_OPTIONS}}", {{/riak.RIAK_SEARCH_SOLR_JVM_OPTIONS}}
    {{#riak.RIAK_SEARCH_SOLR_PORT}} "TASKCFG_ALL_RIAK_SEARCH_SOLR_PORT": "{{riak.RIAK_SEARCH_SOLR_PORT}}", {{/riak.RIAK_SEARCH_SOLR_PORT}}
    {{#riak.RIAK_SEARCH_SOLR_START_TIMEOUT}} "TASKCFG_ALL_RIAK_SEARCH_SOLR_START_TIMEOUT": "{{riak.RIAK_SEARCH_SOLR_START_TIMEOUT}}", {{/riak.RIAK_SEARCH_SOLR_START_TIMEOUT}}
    {{#riak.RIAK_SSL_CACERTFILE}} "TASKCFG_ALL_RIAK_SSL_CACERTFILE": "{{riak.RIAK_SSL_CACERTFILE}}", {{/riak.RIAK_SSL_CACERTFILE}}
    {{#riak.RIAK_SSL_CERTFILE}} "TASKCFG_ALL_RIAK_SSL_CERTFILE": "{{riak.RIAK_SSL_CERTFILE}}", {{/riak.RIAK_SSL_CERTFILE}}
    {{#riak.RIAK_SSL_KEYFILE}} "TASKCFG_ALL_RIAK_SSL_KEYFILE": "{{riak.RIAK_SSL_KEYFILE}}", {{/riak.RIAK_SSL_KEYFILE}}
    {{#riak.RIAK_STORAGE_BACKEND}} "TASKCFG_ALL_RIAK_STORAGE_BACKEND": "{{riak.RIAK_STORAGE_BACKEND}}", {{/riak.RIAK_STORAGE_BACKEND}}
    {{#riak.RIAK_STRONG_CONSISTENCY}} "TASKCFG_ALL_RIAK_STRONG_CONSISTENCY": "{{riak.RIAK_STRONG_CONSISTENCY}}", {{/riak.RIAK_STRONG_CONSISTENCY}}
    {{#riak.RIAK_TICTACAAE_ACTIVE}} "TASKCFG_ALL_RIAK_TICTACAAE_ACTIVE": "{{riak.RIAK_TICTACAAE_ACTIVE}}", {{/riak.RIAK_TICTACAAE_ACTIVE}}
    {{#riak.RIAK_TICTACAAE_DATAROOT}} "TASKCFG_ALL_RIAK_TICTACAAE_DATAROOT": "{{riak.RIAK_TICTACAAE_DATAROOT}}", {{/riak.RIAK_TICTACAAE_DATAROOT}}
    {{#riak.RIAK_TICTACAAE_PARALLELSTORE}} "TASKCFG_ALL_RIAK_TICTACAAE_PARALLELSTORE": "{{riak.RIAK_TICTACAAE_PARALLELSTORE}}", {{/riak.RIAK_TICTACAAE_PARALLELSTORE}}
    {{#riak.RIAK_TICTACAAE_REBUILDDELAY}} "TASKCFG_ALL_RIAK_TICTACAAE_REBUILDDELAY": "{{riak.RIAK_TICTACAAE_REBUILDDELAY}}", {{/riak.RIAK_TICTACAAE_REBUILDDELAY}}
    {{#riak.RIAK_TICTACAAE_REBUILDWAIT}} "TASKCFG_ALL_RIAK_TICTACAAE_REBUILDWAIT": "{{riak.RIAK_TICTACAAE_REBUILDWAIT}}", {{/riak.RIAK_TICTACAAE_REBUILDWAIT}}
    {{#riak.RIAK_TICTACAAE_STOREHEADS}} "TASKCFG_ALL_RIAK_TICTACAAE_STOREHEADS": "{{riak.RIAK_TICTACAAE_STOREHEADS}}", {{/riak.RIAK_TICTACAAE_STOREHEADS}}
    {{#riak.RIAK_TRANSFER_LIMIT}} "TASKCFG_ALL_RIAK_TRANSFER_LIMIT": "{{riak.RIAK_TRANSFER_LIMIT}}", {{/riak.RIAK_TRANSFER_LIMIT}}
    {{#riak.RIAK_WORKER_POOL_STRATEGY}} "TASKCFG_ALL_RIAK_WORKER_POOL_STRATEGY": "{{riak.RIAK_WORKER_POOL_STRATEGY}}", {{/riak.RIAK_WORKER_POOL_STRATEGY}}
    "LIBMESOS_URI": "{{resource.assets.uris.libmesos-bundle-tar-gz}}"
  },
  "uris": [
    "{{resource.assets.uris.bootstrap-zip}}",
    "{{resource.assets.uris.jre-tar-gz}}",
    "{{resource.assets.uris.scheduler-zip}}",
    "{{resource.assets.uris.libmesos-bundle-tar-gz}}",
    "{{resource.assets.uris.svc}}"
  ],
  "upgradeStrategy":{
    "minimumHealthCapacity": 0,
    "maximumOverCapacity": 0
  },
  "healthChecks": [
    {
      "protocol": "MESOS_HTTP",
      "path": "/v1/health",
      "gracePeriodSeconds": 900,
      "intervalSeconds": 30,
      "portIndex": 0,
      "timeoutSeconds": 30,
      "maxConsecutiveFailures": 0
    }
  ],
  "portDefinitions": [
    {
      "port": 0,
      "protocol": "tcp",
      "name": "api",
      "labels": { "VIP_0": "/api.{{service.name}}:80" }
    }
  ]
}